In [6]:
import pandas as pd
import numpy as np
import functools as ft
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [5]:
dfs = []
for x in range(2004, 2024):
    y = pd.read_csv(f'data/{x}.csv', sep='\t').dropna(thresh=2).reset_index(drop=True)[['Country', f'{x-1}', f'{x+1}']].rename({
        f'{x-1}': f'{x-1}_in_{x}',
        f'{x+1}': f'{x+1}_in_{x}',
    }, axis=1)
    y[f'{x-1}_in_{x}'] = y[f'{x-1}_in_{x}'].astype(str).str.replace(' ', '').str.replace('--', 'NaN').astype(float)
    y[f'{x+1}_in_{x}'] = y[f'{x+1}_in_{x}'].astype(str).str.replace(' ', '').str.replace('--', 'NaN').astype(float)
    dfs.append(y)
df = ft.reduce(lambda left, right: pd.merge(left, right, on='Country'), dfs)
df.dropna(inplace=True)
df = df[df['Country'] != 'Guyana']
df.head()

,Country,2003_in_2004,2005_in_2004,2004_in_2005,2006_in_2005,2005_in_2006,2007_in_2006,2006_in_2007,2008_in_2007,2007_in_2008,...,2018_in_2019,2020_in_2019,2019_in_2020,2021_in_2020,2020_in_2021,2022_in_2021,2021_in_2022,2023_in_2022,2022_in_2023,2024_in_2023
0,Antigua and Barbuda,2.5,0.5,4.1,2.6,5.0,3.9,12.2,1.8,6.114,...,7.389,3.322,3.351,4.701,-20.031,7.019,5.270,5.629,8.459,5.417
1,Argentina,8.8,4.0,9.0,4.2,9.2,6.0,8.5,5.5,8.653,...,-2.482,-1.281,-2.088,4.889,-9.905,2.465,10.398,2.024,4.956,2.750
2,Barbados,2.2,2.5,4.4,3.3,3.9,4.9,3.9,2.7,3.254,...,-0.583,0.600,-0.098,7.400,-18.000,8.500,0.700,5.000,9.800,3.900
3,Belize,9.4,3.3,4.6,2.7,3.5,2.6,5.8,3.0,1.200,...,3.035,2.096,-1.990,8.000,-14.038,5.400,16.342,1.998,12.726,2.998
4,Bolivia,2.5,4.5,3.6,2.5,4.1,3.9,4.6,5.4,4.600,...,4.224,3.800,2.217,5.600,-8.829,4.000,6.106,3.200,3.478,1.800

In [ ]:
table = {}
for c in df['Country'].unique():
    err = []
    for x in range(2004, 2024):
        err.push(
            df[df['Country'] == 'c'].iloc[0][f'{x+1}_in_{x-1}'] - 
            df[df['Country'] == 'c'].iloc[0][f'{x+1}_in_{x-1}']
        )
    table.append({
        'country': c,
        'err': np.std(err),
    })
pd.DataFrame(table)